body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(127, 255, 163);
}

.container {
    margin: 20px auto;
    width: 80%;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #01a701;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f4f4f4;
}
.return-btn {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.return-btn:hover {
    background-color: #0056b3;
}
